@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
html, body{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: auto;
}
.splashVideo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  height: auto;
}
.splashImg{
  display: none;
}
@keyframes moveIn {
  from {top: 100%}
  to {top: 50%;}
}
@keyframes moveIn {
  0% {top: 100%}
  50% {top: 50%;}
  100% {top: -100%;
  display: none;}
}
@media (min-width: 670px) {
  .splashVideo{
    display: none;
  }
  .splashImg{
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    height: auto;
    animation-name: moveIn;
  animation-duration: 5s;
  animation-name: moveIn;
  }
}
.downloadVideo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-height: 100%;
}
@keyframes notification {
  from {top:-20%}
  to {top: 0%;}
}
.noPWANotifier{
  position: fixed;
  right: -10%;
  right: 0;
  background-color: white;
  font-family: "Quicksand";
  width: 250px;
  padding: 10px;
  box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 75%);
  border-radius: 5px;
  animation-name: notification;
  animation-duration: 1s;
}
.noPWANotifier:hover{
  cursor: pointer;
}