.nav{
  display: block;
  padding: 5px;
  border-bottom: solid black 1px;
  margin: 0;
}
.navTitle{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-left: 15px;
  margin-bottom: 0px;
  display: inline-block;
}
.nav:hover{
  cursor: pointer;
}
